/* globale */
body{
  font-family: 'Roboto', sans-serif;
}
/* /globale */

/* generale */

.padding-60{
  padding: 60px 0;
}

.margin-200{
  margin-top: 200px;
}

.cs-box50{
  width: 50%;
}

.cs-fs-23{
  font-size: 23px;
}

.margin-bottom-100{
  margin-bottom: 100px;
}

.margin-bottom-30{
  margin-bottom: 30px;
}

.margin-top-30{
  margin-top: 30px;
}

.border-color{
  border-color: #3F8FFF;
}

.color-text-botton{
  color: #3F8FFF;
}

.text-decoration{
  text-decoration: underline;
}

.text-white{
  color: white;
}


.text-black{
  color: black;
}

.text-light-blue{
  color: #006AFF;
}

.text-color-gray{
 color: #737F9A;
}

/* /generale */

.form1{
  padding-left: 20px;
  padding-right: 20px;
}

.bot-lg{
  height: 40px;
  background-color: #579AFF;
  border-radius: 5px;
}

.bot-lg-2{
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #dedede;
  
}

.google-icon{
  width: 20px;
}

.padding-0{
  padding: 0;
}

.padding-left-47{
  padding-left: 47px;
}


main{
  margin-top: 100px;
}
/* nav */
.cs-nav{
  width: 100%;
  height: 100px;
  background-color: white;
}

.cs-nav{
  vertical-align: middle;
}

.cs-nav .container .row [class*="col-"]{
  line-height: 100px;
  padding-right: 35px;
}

.logo-ocean{
  width: 200px;
  padding-left: 25px;
}

.cs-nav .container .row .col-lg-4 ul li{
  display: inline;
  padding-right: 5px;
}

.btn-nav{
  width: 20px;
  padding-right: 20px;
  background-color: white;
  color: #006AFF;
}

/* /nav */


/* jumbotron */


.cs-jumbotron{
  width: 100%;
  background-image: url(img/bg-banner-home.jpg);
}

@media all and (min-width: 768px) and (max-width: 1199px){
  .cs-jumbotron .container .row .col-xs-12.col-sm-7.col-lg-7 h1{
    font-size: 40px;
  }
  .cs-jumbotron .container .row .col-xs-12.col-sm-5.col-lg-5 h2{
    font-size: 40px;
  }
  
}

.cs-jumbotron .container .row h1{
  font-size: 64px;
  font-family: 700;
}


.box1{
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-jumbotron{
  font-family: Roboto;
  font-weight: 700;
  font-size: 22px;
  color: #b3c7ff;
}
.cs-jumbotron .container .row h2{
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
}

.h2-box{
  padding-top: 5px;
  padding-left: 20px;
}

.cs-jumbotron .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.box1{
  background-color: white;
  border-radius: 5px;
}

.text-right-66{
  padding-right: 66px;
}

/* /jumbotron */

/* loghi */



.cs-loghi{
  background-color: #F3F5F9;
}


.cs-loghi .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* /loghi */


/* deplay */



.cs-deploy .container{
  padding-top: 60px;
  padding-bottom: 60px;
}


.cs-deploy .container .row .ll_nested{
  height: auto;
}

@media all and (max-width: 480px){
  .cs-deploy .container .row .col-xs-12.text-center p{
    font-size: 27px;
  }
}

@media all and (min-width:992px) and (max-width: 1199px){
  .cs-deploy .container .row .col-xs-12.text-center p{
    font-size: 30px;
  }
}

@media all and (min-width:1200px){
  .cs-deploy .container .row .col-xs-12.text-center p{
    font-size: 23px;
  }
}

.cs-deploy .container .row .col-xs-12.col-md-3.col-lg-4 ul li{
  list-style-type: none;
  padding-left: 15px;
  border-left: 2px solid gray;
  line-height: 40px;
}



/* deplay */

/* designed */

.cs-designed .container{

  padding-top: 60px;
  padding-bottom: 60px;
}

.cs-designed .container .row [class="col-"]{
   /* height: 100px; 
   border: 2px solid red;  */
}

.cs-designed .text-center ul.text-center ul{
  list-style:none;
  padding: 0;
}

.cs-designed .text-center ul.text-center li{
  display: inline-block;

}

.cs-circle{
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #006aff;
}

.cs-circle:active{
  background-color: #006aff;
}



.cs-designed .text-center .glyphicon-chevron-left{
  font-size: 40px;
  color: #031c4e;
}

.cs-designed .text-center .glyphicon.glyphicon-chevron-right{
  font-size: 40px;
  color: #031c4e;
}

.cs-designed .text-center .glyphicon.glyphicon-chevron-left:active{
  color: #6f7b97;
}
.cs-designed .text-center .glyphicon.glyphicon-chevron-right:active{
  color: #6f7b97;
}
/* /designed */

/* features */

.cs-features{
background-color: turquoise;
}

.cs-features .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}


.cs-features .container .row [class*="col-"]{
  height: 100px;
  border: 1px solid black;
}
/* /features */

/* service */

/* .cs-service{
  background-color: blue;
}
  
.cs-service .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
  
  
.cs-service .container .row [class*="col-"]{
  height: 100px;
  border: 1px solid black;
} */


/* /service */


/* get-started */

.cs-get-started{
  background-color: blue;
}
  
.cs-get-started .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
   padding-bottom: 60px;
}
  
  
.cs-get-started .container .row [class*="col-"]{
   height: 100px;
  border: 1px solid black;
}

/* /get-started */

/* footer */

.cs-footer{
  background-color: orange;
}
  
.cs-footer .container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
   padding-bottom: 60px;
}
  
  
.cs-footer .container .row [class*="col-"]{
   height: 100px;
  border: 1px solid black;
}
  
/* /footer */



